.blog-footer {
    margin-top:22px;
    padding-top: 29px;
    padding-bottom: 29px;
    border-top: 1px solid #ddd;
    background-color: #f0f0f0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
}

.w-container:before, .w-container:after {
    content: " ";
    display: table;
}

.w-container:after {
    clear: both;
}

.blog-footer-nav-link {
    transition: color 200ms ease;
    color: #aaa;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-decoration: none;
    text-transform: uppercase;
}

