.blog-title {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 37px;
  }

.blog-post{
  
  margin-right: 7%;
  margin-left: 7%;
  padding-bottom: 40px;
  border-bottom: 1px solid #d3d3d3;
  background-color: #fff;
  margin: 0 auto;

  margin-bottom: 3em;

}

.blog-post-description{
  color:#333;
}

.blog-post-date{
  display: inline-block;
  margin-right: 8px;
  color: #969696;
  font-size: 12px;
  line-height: 125%;
  letter-spacing: 1px;
  text-transform: uppercase;

}

.blog-post-author{
  display: inline-block;
  margin-right: 8px;
  color: #969696;
  font-size: 12px;
  line-height: 125%;
  letter-spacing: 1px;
  text-transform: uppercase;

}


.blog-post-button{
  padding: 5px 12px;
  border: 1px solid #d3d3d3;
  border-radius: 20px;
  background-color: #fff;
  -webkit-transition: border 200ms ease, color 200ms ease;
  transition: border 200ms ease, color 200ms ease;
  color: #333;
  font-size: 14px;
  font-weight: 400;
}
