body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

p{
  font-family: Merriweather, serif;

}

h1{
  font-family: 'Open Sans', sans-serif;

}

html,
body {
 height: 100%;
 position: relative;
}

#root{
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px; /* height of your footer */
}
